<div class="wrapper">
  <div class="title">
    <div class="title__line-left"></div>
    <p class="title__text">
        O mnie
    </p>
    <div class="title__line-right"></div>
  </div>  

  <div class="wrapper__aboutBox">
    <div class="border">
        <span class="border__corner TL"></span>
        <span class="border__corner TR"></span>
        <span class="border__corner BL"></span>
        <span class="border__corner BR"></span>
        <div class="border">
            <span class="border__corner TL"></span>
            <span class="border__corner TR"></span>
            <span class="border__corner BL"></span>
            <span class="border__corner BR"></span>
            <img [src]="imgPath" alt="Example photo" class="image" />
        </div>
    </div>
    <div class="textBox">
      <p class="textBox--text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu enim
        erat. Fusce mollis ac elit in rutrum. Maecenas blandit lectus vitae
        augue ornare pellentesque. Ut fringilla, urna mattis consequat blandit,
        justo justo imperdiet ex, suscipit elementum turpis erat ac risus.
        Pellentesque at porta erat. Praesent dignissim interdum leo non
        venenatis. Etiam vel odio auctor, hendrerit nunc quis, blandit purus.
        Curabitur sit amet vehicula nisi, vel cursus felis. Curabitur nec
        egestas leo, eget semper metus. Curabitur placerat lacinia augue, sit
        amet ultricies ligula facilisis vel. Suspendisse ut justo est. Curabitur
        mauris risus, sagittis eu congue rhoncus, porta ac purus. Donec
        venenatis pellentesque lorem, id luctus ante lobortis sit amet.
      </p>
      <p class="textBox--text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu enim
        erat. Fusce mollis ac elit in rutrum. Maecenas blandit lectus vitae
        augue ornare pellentesque. Ut fringilla, urna mattis consequat blandit,
        justo justo imperdiet ex, suscipit elementum turpis erat ac risus.
        Pellentesque at porta erat. Praesent dignissim interdum leo non
        venenatis. Etiam vel odio auctor, hendrerit nunc quis, blandit purus.
        Curabitur sit amet vehicula nisi, vel cursus felis. Curabitur nec
        egestas leo, eget semper metus. Curabitur placerat lacinia augue, sit
        amet ultricies ligula facilisis vel. Suspendisse ut justo est. Curabitur
        mauris risus, sagittis eu congue rhoncus, porta ac purus. Donec
        venenatis pellentesque lorem, id luctus ante lobortis sit amet.
      </p>
    </div>
  </div>
</div>
