.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;

  &__brand {
    margin-left: 2%;
    padding: 0;
    border: none;
    outline: none;
    background: none;

    &--text {
      margin: 0;
      font-family: "Pattaya";
      font-size: 40px;
      letter-spacing: 2px;
      color: white;
      text-shadow: 0 0 10px rgb(0, 50, 77);
      transition: 0.4s;
      
      &:hover  {
        cursor: pointer;
        text-shadow: 0 0 10px rgb(0, 80, 120);
      }
    }
  }

  &__items {
    display: inherit;
    gap: 25px;
    margin-right: 15px;

    p {
      margin: 0 15px;
    }
  }

  &--color {
    background-color: white;
    box-shadow: 0 0 5px rgb(0, 65, 100);
  }
}
