// Fonts
$basicFontSize: 17px;
$basicLineHeight: 23px;
$basicTextIndent: 15px;

$midFontSize: 20px;
$midLineHeight: 27px;
$midTextIndent: 17px;

$hugeFontSize: 30px;
$hugeLineHeight: 35px;
$hugeTextIndent: 19px;